.book-brand {
  &__link {
    display: flex;
    align-items: center;
    &:hover {
      color: inherit;
      text-decoration: initial;
    }
  }
  &__icon {
    font-family: $primary-icons;
    font-size: 2.5rem;
  }
  &__title {
    display: flex;
    align-items: center;
    position: relative;
    font-family: $primary-font-family;
    font-size: __remify(32px);
  }
  &__description {
    font-size: __remify(11px);
    @include remove (max, large);
  }

  @include breakpoint(max, large){
    &__link {
      justify-content: center;
    }
  }

}
