.book-brand {
  @include breakpoint(max, large) {
    display: flex;
    justify-content: center;
  }
  &__link {
    &:hover {
      color: inherit;
      text-decoration: initial;
    }
  }
  &__logo {}
  &__title {
    display: flex;
    align-items: center;
    position: relative;
    font-family: $primary-font-family;
    font-size: __remify(39px);
  }
  &__description {
    display: flex;
    align-items: center;
    font-size: __remify(11px);
    text-align: center;
    .gls-icon {
      margin-right: 4px;
      font-size: 0.9rem;
    }
  }

  @include breakpoint(max, large){
    &__link {
      justify-content: center;
    }
  }

}
