.book-channels {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  @include remove(max, large);
  li {
    position: relative;
    &:not(:last-of-type) {
      margin-right: 2px;
    }
    @include before("data-tooltip") {
      position: absolute;
      left: 50%;
      top: 100%;
      font-size: 0.7rem;
      font-weight: 600;
      color: $tertiary-color;
      text-align: center;
      line-height: 1.2;
      transform: translateX(-50%) translateY(-100%);
      transition: all 0.3s 0.1s;
      opacity: 0;
    }
    &:hover {
      &::before {
        top: -4px;
        opacity: 1;
      }
      a {
        opacity: 1;
        color: $tertiary-color;
      }
    }
  }
  &__icon {
    font-size: 2.6rem;
  }
}
