.book-toc {
    flex: 0 0 $toc-width;
    padding-left: $global-space * 3;
    .book-toc-label{}
    nav {
        width: $toc-width;
        ul{
            li{
                margin-bottom: $global-space / 2;
                a{
                    font-size: 13px;
                    line-height: 1.3;
                    &:not(:hover){
                        text-decoration: none;
                    }
                }
            }
        }
    }
    img {
        height: 1em;
    }

    nav > ul > li:first-child {
        margin-top: 0;
    }
}