.book-brand{
    margin: 0;
    position: absolute;
    left: 0;
    a{
        position: relative;
        display: block;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: inherit;
        }
        img{
            position: relative;
            left: -8px;
            width: 210px;
            height: auto;
        }
        .logo-title{
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        .logo-description{
            position: relative;
            right: 0;
            display: block;
            font-size: 13px;
            font-style: italic;
            white-space: nowrap;
            color: $body-text-color;
            text-align: right;
            margin-top: -4px;
        }
    }
}