.book-toc {
    flex: 0 0 $toc-width;
    max-width: $toc-width;
    padding-left: $global-space * 3;
    .book-toc-label{}
    nav {
        width: $toc-width;
        > ul{
            li{
                margin-bottom: $global-space;
                a{
                    font-size: .8em;
                    line-height: 1.3;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                }
                > ul {
                    padding: ($global-space / 2) 0 0 $global-space ;
                    li{
                        &:not(:last-of-type){
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    img {
        height: 1em;
    }
    nav > ul > li:first-child {
        margin-top: 0;
    }
}