.list-wrapper{
    display: flex;
    .list-item {
        flex: 1;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eef2f3;
        border-radius: $border-radius;
        @include gls-breakpoint-min(medium){
            font-size: 2em;
            height: 70px;
        }
        &:not(:last-of-type){
            margin-right: $global-space;
        }
    }
}

.text-shadow-container{
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: $global-space * 10;
}

.columnizer{
    margin-bottom: $global-space * 6;
}