.featured-content{
    margin-bottom: 80px;
    .subheader{
        padding: $global-space 0;
        border-width: $border-width 0;
        border-style: $border-style;
        border-color: $border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $global-space;
        .item{
            &:not(:last-of-type){
                margin-right: $global-space;
            }
            .key{
                font-weight: bold;
            }
            .value{}
            .call{
                .method{}
                .name{
                    font-family: "Roboto Mono", monospace;
                    font-weight: bold;
                }
            }
            &.source-link{
                margin-left: auto;
            }
        }
    }
    .description{
        margin-bottom: $global-space * 2;
    }
}