@include gls-antialias;
@include gls-reset-css;
@include gls-border-box;

html {
    font-size: $font-size-base;
    letter-spacing: 0.33px;
    scroll-behavior: smooth;
}

html,
body{
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    color: $body-text-color;
    font-size: 16px;
}

body{
    background-color: $body-background;
}

code {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: underline;
    color: $body-text-color;
    &:visited {
        color: $body-text-color;
    }
    &:hover{
        text-decoration: underline;
        color: $primary-color;
    }
}

aside{
    .label{
        font-weight: normal !important;
        margin-bottom: $global-space * 2;
        color: $label-color;
    }
    nav{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                margin-bottom: $global-space;
            }
        }
    }
}

img {
    vertical-align: baseline;
}

p{
    margin-bottom: $global-space;
}

table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-16;
    margin-bottom: $padding-16;
    tr th, tr td {
        padding: 1rem 0;
    }
    p{
        margin: 0;
    }
}