@include gls-antialias;
@include gls-reset-css;
@include gls-border-box;

html {
    font-size: $font-size-base;
    letter-spacing: 0.33px;
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    color: $body-text-color;
    margin: 0;
    padding: 0;
}

body{
    background-color: $body-background-color;
}

h1{
    font-size: 2.5em;
    margin-bottom: $global-space;
}

h2, h3{
    font-size: 1.8em;
    margin-bottom: $global-space;
}

h1, h2, h3, h4, h5, h6{
    margin-top: $global-space * 3;
    font-family: "Jumble", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    &[id]{
        scroll-margin-top: $header-height + 2;
    }
}

code {
    background: $code-background-color;
    border-radius: $border-radius;
    font-family: 'Roboto Mono', monospace;
    font-size: .875em;
    padding: 2px 4px;
}

pre {
    padding: $padding-16;
    background: #282a36;
    border-radius: $border-radius;
    overflow-x: auto;
    code {
        padding: 0;
        background: none;
        color: #f8f8f2;
    }
}

strong{
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: $body-text-color;
    &:visited {
        color: $body-text-color;
    }
    &:hover{
        text-decoration: underline;
        color: $primary-color;
    }
}

aside{
    .label{
        font-weight: normal !important;
        margin-bottom: $global-space * 2;
        color: $label-color;
    }
    nav{
        ul{
            padding: 0;
            margin: 0;
            li{
                margin-bottom: $global-space;
            }
        }
    }
}

img {
    vertical-align: baseline;
}

p{
    margin-bottom: $global-space;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $global-space * 2;
}

.main-container{
    padding-top: 150px;
}

aside nav,
.book-menu,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity;
  will-change: transform, margin;
}

// Classes to hide nested levels of ToC/Menu
.levels-1 ul ul,
.levels-2 ul ul ul,
.levels-3 ul ul ul ul,
.levels-4 ul ul ul ul ul,
.levels-5 ul ul ul ul ul ul,
.levels-6 ul ul ul ul ul ul ul {
  display: none;
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  .page-item a {
    padding: $padding-16;
  }
}

.book-icon {
  filter: $icon-filter;
}