.github-buttons {
  $base-size: 28px;
  position: relative;
  padding-left: 1.2rem;
  ion-icon {
    position: absolute;
    font-size: $base-size;
    left: 0;
  }
  ul {
    position: relative;
    display: flex;
    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: __remify(28px);
      font-size: __remify(13px);
      padding: 0 0.8rem;
      border: __remify(2px) solid $body-text-color;
      border-radius: __remify(4px);
      &:not(:last-of-type) {
        margin-right: __remify(6px);
        &::after {
          content: "";
          position: absolute;
          height: __remify(2px);
          width: __remify(8px);
          right: __remify(-8px);
          @include gls-center(vertical);
          background-color: $body-text-color;
        }
      }
      &:hover {
        background-color: $body-text-color;
        a {
          color: white;
          opacity: 1;
        }
      }
      a {
        font-weight: 500;
        text-decoration: none;
        line-height: 0;
        @include gls-stretched-link;
      }
      &.download {
        background-color: $body-text-color;
        a {
          color: white;
        }
      }
    }
  }
}
