.main-footer{
    margin-top: $global-space * 4;
    background-color: $body-background-color;
    border-top: 1px solid $border-color;
    padding: $global-space * 2 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__left {
      > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    &__text {
        line-height: 1.3;
    }
    &__author {}
    &__link{
        color: transparentize($body-text-color, 0.3);
        text-decoration: underline;
        font-style: italic;
        font-weight: bold;
    }
    @include gls-breakpoint(max, large) {
        &__inner {
            flex-direction: column;
        }
        &__left {
            margin-bottom: $global-space;
        }
        &__text {
            text-align: center;
        }
    }
}