// Classes to hide nested levels of ToC/Menu
.levels-1 ul ul,
.levels-2 ul ul ul,
.levels-3 ul ul ul ul,
.levels-4 ul ul ul ul ul,
.levels-5 ul ul ul ul ul ul,
.levels-6 ul ul ul ul ul ul ul {
  display: none;
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-icon {
  filter: $icon-filter;
}

.book-brand {
  margin-top: 0;

  img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: $padding-8;
  }
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;

  &:not(:first-child) {
    margin-top: $padding-16 * 2;
  }

  > a,
  > span {
    font-weight: bolder;
  }

  > ul {
    padding-left: 0;
  }
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  padding: $padding-16;
}

.book-post {
  margin-bottom: $padding-16 * 3;
}

.book-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}





.book-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    margin-right: $padding-8;
  }
}

.book-comments {
  margin-top: $padding-16;
}

.book-languages {
  position: relative;
  overflow: visible;

  padding: $padding-16;
  margin: -$padding-16;

  &:hover .book-languages-list {
    display: block;
  }

  .book-languages-list {
    display: none;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: $padding-8 0;

    background: $body-background;
    box-shadow: 0 0 $padding-4 rgba(0, 0, 0, 0.1);

    li {
      padding: $padding-8 $padding-16;
      white-space: nowrap;
    }

    img {
      opacity: 0.1;
    }

    li.active img {
      opacity: 1;
    }

    a {
      color: inherit;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.book-home {
  padding: $padding-16;
}

// Responsive styles
aside nav,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity;
  will-change: transform, margin;
}

@media screen and (max-width: $mobile-breakpoint) {
  .book-menu {
    margin-left: -$menu-width;
    font-size: $font-size-base;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page {
      transform: translateX($menu-width);
    }

    .book-header aside,
    .markdown {
      opacity: 0.25;
    }
  }

  #toc-control:checked + aside {
    display: block;
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu nav,
  .book-toc nav {
    padding: $padding-16 * 2 $padding-16;
  }
}
