    


@include gls-breakpoint-max(large){
    .book-toc{
        display: none;
    }
    .book-header{
        position: relative;
        margin-bottom: $global-space * 2;
        height: auto;
        padding: $global-space 0;
        .inner{
            flex-direction: column;
            .left,
            .middle,
            .right{
                flex: 0 1 auto;
                width: 100%;
                text-align: center;
            }
            .left{
                margin-bottom: $global-space;
            }
        }
    }
    .main-container{
        padding-top: 0;
    }
    .book-search{
        width: 100%;
        ul{
            li{
                a{
                    text-align: left;
                }
            }
        }
    }
}

@include gls-breakpoint-max(medium){
    .book-menu{
        display: none;
    }
}

@include gls-breakpoint-max(small){
    body{
        font-size: .9rem;
    }
    .featured-content{
        .subheader{
            padding: $global-space / 2 0;
            flex-direction: column;
            align-items: flex-start;
            .item{
                &:not(:last-child){
                    margin-right: 0;
                }
            }
        }
    }
}