.sandbox{
    &.xsmall{
        height: 50px;
    }
    &.small{
        height: 100px;
    }
    &.medium{
        height: 150px;
    }
    &.large{
        height: 200px;
    }
    &.xlarge{
        height: 300px;
    }
    &.xxlarge{
        height: 400px;
    }
    margin-bottom: $global-space;
    border-radius: $border-radius;
    &.text{
        font-size: 3em;
        font-family: $primary-font-family;
        margin: 0;
    }
}