.table{
    margin: 0 0 80px;
    @include gls-breakpoint(max, medium){
        padding-bottom: $global-space;
    }
    @include gls-breakpoint(max, large){
        overflow-x: auto;
    }
    p{
        font-size: .9em;
        line-height: 1.4;
        margin-bottom: 0;
    }

    .footnote{
        font-size: 80%;
        line-height: 1.3;
        padding: 0;
        @include gls-breakpoint(max, large){
            white-space: nowrap;
        }
    }

    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: $global-space / 2;
        thead{
            th{
                text-align: left;
                font-weight: bold;
            }
            tr{
                border-bottom: ($border-width * 2) $border-style $border-color;
            }
        }
        tbody{
            tr{
                border-bottom: $border-width $border-style $border-color;
            }
        }
        tr th, tr td{
            padding: 1rem 1rem 1rem 0;
            vertical-align: middle;
            @include gls-breakpoint(min, large){
                padding: 1rem 3rem 1rem 0;
            }
        }
        td.name,
        td.type{
            white-space: nowrap;
        }
        td.description{
            @include gls-breakpoint(max, large){
                white-space: nowrap;
            }
        }
    }
}