@include gls-reset-css();
@include gls-border-box();

html,
body{
    font-family: Roboto, sans-serif;
}
body{
    background-color: $body-background;
    color: $body-text-color;
}

a{
    text-decoration: underline !important;
}

a,
a:visited{
    color: $body-text-color;
}