$steal-teal: #668F80;
$charleston-green: #222C25;
$light-gray: rgb(230,230,230);
$bus-yellow: #ffd900;
$light-sea-green: #20b2aa;
$granite-green: #657167;
$copper: #B77434;
$snow: #FAFAF8;

$primary-color: $light-sea-green;
$secondary-color: $bus-yellow;

$link-color: $steal-teal;
$active-link-color: $bus-yellow;
$body-text-color: $charleston-green;
$border-color: $light-gray;
$body-background: white;