<div class="github-buttons">
  <ion-icon name="logo-github"></ion-icon>
  <ul class="github-buttons">
    <li class="github-buttons__item star">
      <a class="gtm-github-star" href="https://github.com/selfishprimate/gerillass" target="_blank" rel="noopener noreferrer" title="Give the library a star">Star</a>
    </li>
    <li class="github-buttons__item fork">
      <a class="gtm-github-fork" href="https://github.com/selfishprimate/gerillass/fork" target="_blank" rel="noopener noreferrer" title="Fork the library">Fork</a>
    </li>
    <li class="github-buttons__item download">
      <a class="gtm-download gtm-github-download" href="https://github.com/selfishprimate/gerillass/archive/master.zip" target="_blank" rel="noopener noreferrer" title="Download it from Github">Download</a>
    </li>
  </ul>
</div>