  <!-- Open Graph Settings -->
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="product" />
  <meta property="og:title" content="Gerillass: {{ .Params.page_title }}" />
  <meta property="og:description" content="{{ .Params.page_description }}" />
  <meta property="og:image" content="{{ .Permalink }}images/gerillass-{{  .File.ContentBaseName }}.jpg" />
  <meta property="og:image:alt" content="Gerillass: Learn How to Use {{ .Params.page_title }}!" />
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1000">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:site_name" content="Gerillass">
  <meta property="product:category" content="Web Development">
  <meta property="product:brand" content="Gerillass">