body{
    background-color: #F0F0ED !important;
    color: #222C25 !important;
}

h1{
    font-weight: bold !important;
}

h2{
    font-weight: bold !important;
    font-size: 30px;
    color: green;
}