/* You can add custom styles here. */
*,
*:before,
*:after{
    box-sizing: border-box;
}

$body-background: #F0F0ED;
$border-color: rgb(230,230,230);

h1{
    font-weight: bold !important;
}

.book-brand{
    a{
        img{
            width: 200px;
            height: auto;
        }
        span{
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}

.highlight{
    position: relative;
    pre{
        code{
            &[class^="language"]{
                &:after{
                    content: attr(data-lang);
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(255,255,255,.1);
                    border-top-right-radius: .15rem;
                    border-bottom-left-radius: .15rem;
                    padding: 5px 15px;
                }
            }
        }
    }
}

.subheader{
    padding: 15px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item{
        &__key{
            font-weight: bold;
        }
    }
}


