/* You can add custom styles here. */

$body-background: #F0F0ED;

body{
    background-color: $body-background;
}

h1{
    font-weight: bold !important;
}

.book-brand{
    a{
        img{
            width: 200px;
            height: auto;
        }
        span{
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}
