/* You can add custom styles here. */
*,
*:before,
*:after{
    box-sizing: border-box;
}

$steal-teal: #668F80;
$charleston-green: #222C25;
$light-gray: rgb(230,230,230);
$bus-yellow: #ffd900;
$light-sea-green: #20b2aa;
$granite-green: #657167;
$copper: #B77434;
$snow: #FAFAF8;

$primary-color: $light-sea-green;
$secondary-color: $bus-yellow;

$link-color: $steal-teal;
$active-link-color: $bus-yellow;
$body-text-color: $charleston-green;
$border-color: $light-gray;
$body-background: white;

body{
    background-color: $body-background;
    color: $body-text-color;
}

a{
    text-decoration: underline !important;
}
a,
a:visited{
    color: $body-text-color;
}

.markdown {
    padding: 30px 50px 100px;
    h1{
        font-size: 2.5em;
        margin-bottom: 40px;
    }

    h2{
        font-size: 1.8em;
        margin-bottom: 20px !important;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: jumble, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    & > p:nth-last-of-type(2){
        margin-bottom: 80px !important;
    }

    .table{
        margin: 0 0 80px;

        &__footnote{
            font-size: 80%;
            line-height: 1.2;
        }

        table{
            display: table;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            thead{
                th{
                    text-align: left;
                }
                tr{
                    border-bottom: 2px solid $border-color;
                }
            }
            tbody{
                tr{
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}

.highlight{
    position: relative;
    pre{
        code{
            &[class^="language"]{
                &:after{
                    content: attr(data-lang);
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(255,255,255,.1);
                    border-top-right-radius: .15rem;
                    border-bottom-left-radius: .15rem;
                    padding: 5px 15px;
                }
            }
        }
    }
}

.featured-content{
    margin-bottom: 80px;
    .subheader{
        padding: 15px 0;
        border-width: 1px 0;
        border-style: solid;
        border-color: $border-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item{
            &:not(:last-of-type){
                margin-right: 15px;
            }
            .key{
                font-weight: bold;
            }
            .value{
                .method{
                    color: $primary-color;
                }
                .name{
                    color: $primary-color;
                }
            }
            &.source-link{
                margin-left: auto;
            }
        }
    }
}



.book-menu nav,
.book-toc nav{
    padding: 50px 0;
    top: 80px;
}

.book-menu{
    a{
        display: inline-block;
        font-size: 16px;
        text-decoration: none !important;
        &.active{
            position: relative;
            font-weight: bold;
            color: $body-text-color;
            &:after{
                content: "";
                position: absolute;
                display: block;
                height: 10px;
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: transparentize($primary-color, .7);
                z-index: -1;
            }
        }
    }
}

.main-container{
    padding-top: 120px;
}

.book-page{
    padding: 0;
}

.main-header{
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    background-color: $body-background;
    border-bottom: 1px solid $border-color;
    position: fixed;
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: center;
    .inner{
        position: relative;
        height: 100%;
        display: flex;
        flex: 0 1 80rem;
        align-items: center;
        justify-content: center;
    }
}

.brand-logo{
    margin: 0;
    position: absolute;
    left: 0;
    a{
        position: relative;
        display: block;
        img{
            position: relative;
            left: -8px;
            width: 210px;
            height: auto;
        }
        .logo-title{
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        .logo-description{
            position: absolute;
            bottom: -5px;
            right: 0;
            display: block;
            font-size: 13px;
            font-style: italic;
            white-space: nowrap;
            color: $body-text-color;
        }
    }
}

.book-search{
    width: 100%;
    max-width: 600px;
    .search-wrapper{
        position: relative;
        input{
            height: 48px;
            padding: 10px 15px;
            background-color: white;
            border: 1.2px solid $border-color;
            &:focus{
                outline: 0;
                box-shadow: 0 0 0 4px transparentize($primary-color, .5);
                border-color: transparent;
            }
        }
        ion-icon{
            position: absolute;
            top: 50%;
            right: 15px;
            font-size: 20px;
            transform: translateY(-50%);
            opacity: .5;
        }
    }
    ul{
        position: absolute;
        width: 100%;
        background-color: white;
        bottom: 5px;
        margin: 0;
        transform: translateY(100%);
        list-style: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        li{
            padding: 5px 0;
            margin-bottom: 10px;
            &:first-of-type{
                margin-top: 30px;
            }
            &:last-of-type{
                margin-bottom: 30px;
            }
        }
    }
}

.book-toc{
    nav{
        ul{
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}

.github-link{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    ion-icon{
        font-size: 16px;
        margin-right: 5px;
    }
}

