<div class="featured-content">

    <div class="subheader">
        {{ with .Get "value" }}
            <div class="item">
                <span class="key">Type:</span>
                <span class="value">{{.}}</span>
            </div>
        {{ end }}
        {{ with .Get "mixin-call" }}
            <div class="item">
                <span class="value">
                    <span class="method">@include</span>
                    <span class="name">gls-{{.}}();</span>
                </span>
            </div>
        {{ end }}
    </div>

    <div class="description">{{.Inner | markdownify}}</div>

</div>